@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h5>@ViewData["Message"]</h5>

<p>
    <h1>Changelog</h1>
    <h4>BETA v0.2</h4>
    <ul>
        <li>Hosted in MS Azure</li>
        <li>Added Promises</li>
        <li>Added Offers</li>
        <li>Added Groups</li>
    </ul>
</p>