@model AllPromisesViewModel
@{
    ViewData["Title"] = "All Promises";
}

<div class="content">
    <h1>Your promises</h1>

    <button type="button" class="btn btn-primary btn-block" onclick="location.href='@Url.Action("New", "Promise")'">New Request</button>
    <hr />

    <ul class="timeline">

        @{var promises = Model.AllPromises.OrderBy(prom => prom.Term).Where(prom => prom.Term.Value.Date <= DateTime.Now.Date);
            if (promises.Count() > 0)
            {
                <li class="time-label">
                    <span class="bg-red">
                        @DateTime.Now.Day.@DateTime.Now.Month.@DateTime.Now.Year
                    </span>
                </li>

                {
                    @foreach (var promise in promises)
                    {
                        @await Html.PartialAsync("_PromiseSimplePartial", promise)
                    }
                }
            }
        }

        @foreach (var groups in Model.AllPromises.OrderBy(prom => prom.Term).Where(prom => prom.Term.Value.Date > DateTime.Now.Date).GroupBy(prom => prom.Term.Value.Date))
        {
            <li class="time-label">
                <span class="bg-aqua">
                    @groups.Key.Day.@groups.Key.Month.@groups.Key.Year
                </span>
            </li>
            @foreach (var promise in groups)
            {
                @await Html.PartialAsync("_PromiseSimplePartial", promise)
            }
        }
        <li>
            <i class="fa fa-clock-o bg-gray"></i>
        </li>
    </ul>





</div>