@model NewAssociationViewModel
@using CiaoApp.Web.ViewModels.Associations;
@using CiaoApp.Web.Models.Promises.Associations;

<hr />
<h5>New Association</h5>
<form asp-controller="@(Model.Context == AssociationContext.Promise ? "Promise" : "Offer")" asp-action="AddNewAssociation" method="post" role="form">

    <div id="newAssociation" class="form-horizontal">
        <div class="form-group">
            <label asp-for="Type" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Type, Model.AssociationTypes, null, new { id = "associationTypes", @class = "form-control", data_style = "btn-inverse" })
            </div>
        </div>
        <div class="form-group">
            <input type="hidden" asp-for="CreatingPromiseId" />
        </div>
        <div class="form-group">
            
            <input type="hidden" asp-for="TargetPromiseId" id="targetPromiseId" />
            <label asp-for="TargetPromiseId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="text" id="promiseSearcher" class="form-control" placeholder="Type promise/offer ID or a part of the request" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TargetState" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TargetState, Model.TargetStates, null, new { id = "targetStates", @class = "form-control", data_style = "btn-inverse" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-warning btn-block">Associate</button>
            </div>
        </div>
    </div>
</form>

